<%# provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
    <% @feed_items.each do |post| %>
      <a href="<%= user_path post.user %>">
        <span class="name"><%= post.user.name %></span>
      </a>
      <span class="time"><%= time_ago_in_words(post.created_at) %></span>
      <p> <%= post.content %> </p>
      <% if post.picture? %>
        <%= image_tag post.picture.url(:medium), class: "img-responsive" %>
      <% end %>
      <div class="col-md-6">
      <% post.replies.reverse.each do |r| %>
        <div id="<%= r.id %>" class="">
        <a href="<%= user_path r.user %>">
          <span class="name"><%= r.user.name %></span>
        </a>
        <span class="time"><%= time_ago_in_words(r.created_at) %></span>
        <p> <%= r.content %> </p>
        </div>
      <% end %>
      <%= form_for @reply do |f| %>
        <p>
          <%= f.hidden_field :topic_id, :value => post.id %>
          <%= f.hidden_field :to_friend_id, :value => post.user_id %>
          <%= f.text_area :content, class: "form-control respuesta-content" %>
          <%#= f.submit "Post Answer" %>
        </p>
      <% end %>
      </div>
    <% end %>
    <%= will_paginate @feed_items %>
    </div>
  </div>
<% else %>
<div class="text-center jumbotron">
  <h1>A modern social network</h1>
  <h2>
    This is
    <a>22 Street</a>
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
