<%= form_for @single_post, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.collection_select(:to_friend_id, User.all, :id, :username,
                         {prompt: "Select a friend"}, {class: "form-control"}) %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new post...", class: "form-control" %>
  </div>
  <%= f.file_field :picture %>
  <%= f.submit "Send!", class: "btn  btn-primary" %>
<% end %>
